.template {
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    font-size: large;
    font-weight: bold;
  }
  
  .template:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .messageContent {
    flex: 1;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  

  .templateButton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #d1686d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .templateButton:hover {
    background-color: #be585d;
  }
  
  .templateButton:active {
    background-color: #9c4449;
  }
  